article.task-article(data-id=task._id)
    button.show-details +
    h3 #{task.title}
    span.address #{task.address.name.replace(', France', '')} <br> #{task.address.plus ? task.address.plus : null}
    if taskName === 'encombrant'
        span.date Passage prévu le #{task.appointment.toLocaleDateString('fr-FR').split('-').reverse().join('/')}
        span.phoneNumber #{task.phoneNumber}
    else if taskName === 'depot'
        span.date Signalé le #{task.createdAt.toLocaleDateString('fr-FR').split('-').reverse().join('/')}
    
    .details
        p #{task.description}

        if task.imageName !== null
            img(src="/uploads/" + task.imageName)
        
        .admin-actions
            form.active(action="" data-id=task._id)
                textarea(name="comment" rows="2")
                div 
                    input(type="submit" value="Commenter")
                    button.delete-request(type="button" data-id=task._id) Supprimer
        .comments
            each comment in task.comments
                article.comment(data-commentid=comment._id)
                    button.delete-comment(data-id=task._id data-commentid=comment._id) X
                    span.commentDate #{comment.createdAt.toLocaleDateString('fr-FR').split('-').reverse().join('/') + ' à ' + comment.createdAt.toLocaleTimeString('fr-FR').split(':').slice(0,-1).join('h')}
                    p #{comment.content}
        


        

        